@{
    ViewData["Title"] = "Dashboard";

    var bookingsToday = ViewBag.Bookings;
}
<style>
    #myTable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        background-color: yellowgreen;
        border-radius: 12px;
        color: white;
    }

        #myTable th:first-child {
            border-top-left-radius: 12px;
        }

        #myTable th:last-child {
            border-top-right-radius: 12px;
        }

        /*        #myTable td, #myTable th {
                    border: 1px solid #ddd;
                    padding: 8px;
                }*/

        #myTable tr:hover {
            background-color: dodgerblue;
        }

        #myTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: deepskyblue;
            color: white;
        }
</style>
<center>
    <header style="padding-top:20px;">
    </header>
    <div>
        <div class="card">
            <div class="card-body">
                <heading>
                    <h1>GC Truck Bookings Today : @DateTime.Now.ToString("dddd , dd MMMM yyyy")</h1>
                </heading>

                <hr />

                @if (bookingsToday.Count != 0)
                {
                    <table class="table" id="myTable">
                        <thead>
                            <tr>
                                <th>
                                    Booking Reference
                                </th>
                                <th>
                                    Booked Time
                                </th>
                                <th>
                                    Commodity
                                </th>
                                <th>
                                    Logistical Transporter
                                </th>
                                <th>
                                    Transporter Registration
                                </th>
                            
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in bookingsToday)
                            {
                                <tr>
                                    <td>
                                        @item.BookingReference
                                    </td>
                                    <td>
                                        @item.Time
                                    </td>
                                    <td>
                                        @item.Commodity.CommodityItem
                                    </td>
                                    <td>
                                        @item.LogisticalTransporter.Name
                                    </td>
                                    <td>
                                        @item.Registration
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h1><b>No Bookings Today <i class="fa fa-thumbs-up"></i></b></h1>
                }
            </div>
        </div>
    </div>
</center>



<br />
<div class="row">
    <div class="col-sm-4">
        <!-- MAP & BOX PANE -->
        <div id="dur" class="card">
            <div class="card-header">
                <h3 class="card-title">FPT Durban Facility </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="d-md-flex">
                    <div class="p-1 flex-fill" style="overflow: hidden">
                        <!-- Map will be created here -->
                        <div id="world-map-markers" style="height: 300px; overflow: hidden">
                            <script type="text/javascript">


                                width = '100%';		// the width of the embedded map in pixels or percentage
                                height = '300';		// the height of the embedded map in pixels or percentage
                                border = '1';		// the width of the border around the map (zero means no border)
                                shownames = 'false';	// to display ship names on the map (true or false)
                                latitude = '-29.86785466514976';	// the latitude of the center of the map, in decimal degrees
                                longitude = '31.033532527708704';	// the longitude of the center of the map, in decimal degrees
                                zoom = '15';		// the zoom level of the map (values between 2 and 17)
                                maptype = '1';		// use 0 for Normal Map, 1 for Satellite
                                trackvessel = '0';	// MMSI of a vessel (note: vessel will be displayed only if within range of the system) - overrides "zoom" option
                                fleet = '';		// the registered email address of a user-defined fleet (user's default fleet is used) - overrides "zoom" option


                            </script>
                            <script type="text/javascript" src="//www.marinetraffic.com/js/embed.js"></script>
                        </div>
                    </div>

                </div><!-- /.d-md-flex -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <!-- MAP & BOX PANE -->
        <div id="ct" class="card">
            <div class="card-header">
                <h3 class="card-title">FPT Cape Town Facility </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="d-md-flex">
                    <div class="p-1 flex-fill" style="overflow: hidden">
                        <!-- Map will be created here -->
                        <div id="world-map-markers" style="height: 300px; overflow: hidden">
                            <script type="text/javascript">


                                width = '100%';		// the width of the embedded map in pixels or percentage
                                height = '300';		// the height of the embedded map in pixels or percentage
                                border = '1';		// the width of the border around the map (zero means no border)
                                shownames = 'false';	// to display ship names on the map (true or false)
                                latitude = '-33.907155';	// the latitude of the center of the map, in decimal degrees
                                longitude = '18.428586';	// the longitude of the center of the map, in decimal degrees
                                zoom = '15';		// the zoom level of the map (values between 2 and 17)
                                maptype = '1';		// use 0 for Normal Map, 1 for Satellite
                                trackvessel = '0';	// MMSI of a vessel (note: vessel will be displayed only if within range of the system) - overrides "zoom" option
                                fleet = '';		// the registered email address of a user-defined fleet (user's default fleet is used) - overrides "zoom" option


                            </script>
                            <script type="text/javascript" src="//www.marinetraffic.com/js/embed.js"></script>
                        </div>
                    </div>

                </div><!-- /.d-md-flex -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <!-- MAP & BOX PANE -->
        <div id="plz" class="card">
            <div class="card-header">
                <h3 class="card-title">FPT Port Elizabeth Facility </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="d-md-flex">
                    <div class="p-1 flex-fill" style="overflow: hidden">
                        <!-- Map will be created here -->
                        <div id="world-map-markers" style="height: 300px; overflow: hidden">
                            <script type="text/javascript">


                                width = '100%';		// the width of the embedded map in pixels or percentage
                                height = '300';		// the height of the embedded map in pixels or percentage
                                border = '1';		// the width of the border around the map (zero means no border)
                                shownames = 'false';	// to display ship names on the map (true or false)
                                latitude = '-33.963099';	// the latitude of the center of the map, in decimal degrees
                                longitude = '25.633833';	// the longitude of the center of the map, in decimal degrees
                                zoom = '15';		// the zoom level of the map (values between 2 and 17)
                                maptype = '1';		// use 0 for Normal Map, 1 for Satellite
                                trackvessel = '0';	// MMSI of a vessel (note: vessel will be displayed only if within range of the system) - overrides "zoom" option
                                fleet = '';		// the registered email address of a user-defined fleet (user's default fleet is used) - overrides "zoom" option


                            </script>
                            <script type="text/javascript" src="//www.marinetraffic.com/js/embed.js"></script>
                        </div>
                    </div>

                </div><!-- /.d-md-flex -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
            </div>
        </div>
    </div>
</div>






