@page
@model LoginModel

@{
    ViewData["Title"] = "Sign In";
}
<style>
    #LoginpageBody {
        padding-top: 120px;
        background-image: url('/images/BG-DUR.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    #password {
        padding-left: 25px;
    }

    #forgot-password {
        float: right;
    }

    /*.checkbox {
        float: right;
    }*/

    .btn-outline-secondary {
        border-radius: 10px;
    }

</style>
@*<h1>@ViewData["Title"]</h1>*@
<body id="LoginpageBody">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <section>
                        <form id="account" method="post">
                            <center><img src="~/FPT-Icon.png" alt="FPT" height="120" /></center>
                            <center><h5><p>General Cargo Truck Booking System</p></h5></center>
                            @*<h2>Use a local account to log in.</h2>*@
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger" id="message"></div>

                            @*<div class="form-floating">*@
                            <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                            @*<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />*@
                            @*<label asp-for="Input.Email" class="form-label"></label>*@


                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            @*</div>*@
                            <br />
                            <div class="input-group mb-3">
                                <input asp-for="Input.Password" id="password" class="form-control" placeholder="Password" />
                                <div class="input-group-append">
                                    <a class="btn btn-outline-secondary" onclick="passwordVisible()"><i id="passwordToggle" class="fas fa-eye-slash"></i></a>
                                </div>
                            </div>

                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            @*<div class="form-floating">
                            <input id="password" asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />s
                            <label asp-for="Input.Password" class="form-label"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>*@
                            <br />
@*                            <div class="checkbox" style="float:left">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                            <br />
                            <div>
                                <button id="login-submit" type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i>  Log in</button>
                            </div>*@
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label asp-for="Input.RememberMe" class="form-label" style="font-size:larger">
                                        <input class="form-check-input" asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>

                                <button id="login-submit" type="submit" class="w-50 btn btn-primary active" style="float:right"><i class="fa fa-sign-in"></i>  Log in</button>
                            </div>
                            
                            <br />
                            <div>
                                <div class="btn-group" role="group" aria-label="More Options" style="float:right;">
                                    <button class="btn text-dark" disabled>More Options </button>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop2" type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Manage"><i class="fa fa-ellipsis-v"></i> </button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                                            <a class="dropdown-item" asp-page="./ForgotPassword" title="Forgot Password"><i class="fa fa-key"></i> Forgot Password</a>
                                            <a class="dropdown-item" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" title="Register">  <i class="fa fa-user-plus"></i> Need An Account ?</a>
                                        </div>
                                    </div>
                                </div>
                                @*                                <p>
                                <a id="forgot-password" asp-page="./ForgotPassword" class="w-80 btn btn-small btn-dark"><i class="fa fa-key"></i>  Forgot your password ?</a>
                                </p>
                                <p>
                                <a id="register" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="w-80 btn btn-small btn-info"> <i class="fa fa-user-plus"></i>  Need an account ? </a>
                                </p>*@
                                @*                    <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                </p>*@
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        @*<div class="col-md-6 col-md-offset-2">
        <section>
        <h3>Use another service to log in.</h3>
        <hr />
        @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
        <div>
        <p>
        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
        about setting up this ASP.NET application to support logging in via external services</a>.
        </p>
        </div>
        }
        else
        {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
        <div>
        <p>
        @foreach (var provider in Model.ExternalLogins)
        {
        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
        }
        </p>
        </div>
        </form>
        }
        }
        </section>
        </div>*@
    </div>
</body>
<script>
    function passwordVisible() {
        var x = document.getElementById("password");
        var passwordToggle = document.getElementById("passwordToggle");
        if (x.type === "password") {
            x.type = "text";
            passwordToggle.className = "fas fa-eye";
        } else {
            x.type = "password";
            passwordToggle.className = "fas fa-eye-slash";
        }
    }
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
