@model GeneralCargoSystem.Models.GC.GCBooking

@{
    ViewData["Title"] = "Details";
}
<style>
    .row {
        padding-bottom: 15px;
    }

    #detailsPage {
        padding-top: 90px;
    }
</style>
<div id="detailsPage">
    <div class="card">

        <div class="card-body">
            <h4>General Cargo Booking ~ @Model.BookingReference</h4>
            <hr />
            <div class="row">
                <div class="form-group col-sm-4 mx-auto">
                    <b>@Html.DisplayNameFor(model => model.Date) :</b>
                    @Model.Date.ToString("dd MMMM yyyy")
                </div>

                <div class="form-group col-sm-4 mx-auto">
                    <b>Booking Time :</b>
                    @Html.DisplayFor(model => model.Time)
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4 mx-auto">
                    <b>  FPT Site :</b>
                    @Html.DisplayFor(model => model.FPTSites.SiteLocation)
                </div>

                <div class="form-group col-sm-4 mx-auto">
                    <b>@Html.DisplayNameFor(model => model.VesselId) :</b>
                    @Html.DisplayFor(model => model.Vessels.VesselName)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 mx-auto">
                    <b>Logistical Transporter :</b>
                    @Html.DisplayFor(model => model.LogisticalTransporter.Name)
                </div>

                <div class="form-group col-sm-4 mx-auto">
                    <b>Transport Registration :</b>
                    @Html.DisplayFor(model => model.Registration)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-4 mx-auto">
                    <b>@Html.DisplayNameFor(model => model.Commodity) :</b>
                    @Html.DisplayFor(model => model.Commodity.CommodityItem)
                </div>

                <div class="form-group col-sm-4 mx-auto">
                    <b>@Html.DisplayNameFor(model => model.Quantity) :</b>
                    @Html.DisplayFor(model => model.Quantity)
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4 mx-auto">
                    <b>  @Html.DisplayNameFor(model => model.Name) :</b>
                    @Html.DisplayFor(model => model.Name)
                </div>

                <div class="form-group col-sm-4 mx-auto">
                    <b>@Html.DisplayNameFor(model => model.PhoneNumber) :</b>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4 mx-auto">
                    <b>  Email Address :</b>
                    @Html.DisplayFor(model => model.Email)
                </div>

                <div class="form-group col-sm-4 mx-auto">
                    <b>  @Html.DisplayNameFor(model => model.Comments) :</b>
                    @Html.DisplayFor(model => model.Comments)
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-4 mx-auto">
                    <b>  @Html.DisplayNameFor(model => model.CreatedOn) :</b>
                    @Model.CreatedOn.ToString("dd MMMM yyyy  hh:mm:ss")
                </div>

                <div class="form-group col-sm-4 mx-auto">
                    <b> Created By  :</b>
                    @Html.DisplayFor(model => model.CreatedBy)
                </div>
            </div>

            <div>
                <a class="btn btn-info active" style="float:right;" onclick="sendEmail()">Share Via Email <i class="fa fa-1x fa-share"></i></a>
                <a class="btn btn-dark active" style="float:right;" type="submit">Print Booking Details <i class="fa fa-1x fa-print"></i></a>
            </div>
        </div>
    </div>


</div>
<script>
    function sendEmail() {

        swal.fire({
            title: 'Type email address',
            input: 'text',
            confirmButtonText: 'Send',
        }).then((result) => {
            if (!result) {
                swal.close();
                return null;
            };
            console.log(result.value)
            var uri = "/GCCustomer/GCBookings/SendViaEmail?id=" + @Model.Id + "&email=" + result.value;
            var res = encodeURI(uri);
            $.ajax({
                url: res,
                success: function (response) {
                    swal.close();
                    swal.fire({
                        title: "Email Sent!",
                        text: "Please check your inbox",
                        icon: "success",
                        button: "Okay",
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    swal.fire({
                        title: "Error!",
                        text: " Please try again! , only organizational emails allowed",
                        icon: "warning",
                        button: "Okay",
                    });
                }
            });
        });
    }
</script>


